<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>welcome login</title>
</head>
<body>
  <form action="" method="" enctype="application/x-www-form-urlencoded">
    <div>
      <label><input type="text" name="account"></label>
    </div>
    <div>
      <label><input type="text" name="passwd"></label>
    </div>
    <div>
      <input type="file" name="avatar" >
    </div>
    <button type="submit">submit</button>
  </form>

</body>
</html>